<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springbootmybatis.model.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.study.springbootmybatis.model.pojo.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="adress" jdbcType="CHAR" property="adress" />
    <result column="nation" jdbcType="CHAR" property="nation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, adress, nation
  </sql>
  <select id="selectByExample" parameterType="com.study.springbootmybatis.model.pojo.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserid" parameterType="java.lang.Integer" resultMap="userInfoCom">
    select u.user_id,u.usr_name, ui.user_id, ui.adress, ui.nation from user u, user_info ui where u.user_id=ui.user_id and u.user_id=#{userId,jdbcType=INTEGER}
  </select>

  <resultMap id="userInfoCom" type="com.study.springbootmybatis.model.po.UserInfoCom">
    <result property="userId" column="user_id"/>
    <result property="usrName" column="usr_name"/>
    <collection property="userInfo" ofType="com.study.springbootmybatis.model.pojo.UserInfo">
      <result property="userId" column="user_id"/>
      <result property="adress" column="adress"/>
      <result property="nation" column="nation"/>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.study.springbootmybatis.model.pojo.UserInfoExample">
    delete from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study.springbootmybatis.model.pojo.UserInfo">
    insert into user_info (user_id, adress, nation
      )
    values (#{userId,jdbcType=INTEGER}, #{adress,jdbcType=CHAR}, #{nation,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.study.springbootmybatis.model.pojo.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="adress != null">
        adress,
      </if>
      <if test="nation != null">
        nation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="adress != null">
        #{adress,jdbcType=CHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study.springbootmybatis.model.pojo.UserInfoExample" resultType="java.lang.Long">
    select count(*) from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_info
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.adress != null">
        adress = #{record.adress,jdbcType=CHAR},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_info
    set user_id = #{record.userId,jdbcType=INTEGER},
      adress = #{record.adress,jdbcType=CHAR},
      nation = #{record.nation,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.springbootmybatis.model.pojo.UserInfo">
    update user_info
    <set>
      <if test="adress != null">
        adress = #{adress,jdbcType=CHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.springbootmybatis.model.pojo.UserInfo">
    update user_info
    set adress = #{adress,jdbcType=CHAR},
      nation = #{nation,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>